body{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-content:space-around;
    margin: 10px;
    padding: 10px;
}

#navbar-menu{
    text-align: end;

}

#navbar ul li{
    display: inline;
    margin: 5px;
    padding: 5px;
}

#navbar ul li a{
    font-size: 19.5px;
    font-family: sans-serif;
    text-decoration: none;
    color:rgb(21 21 21);
}

#navbar ul li a:hover{
    transition: 0.5s;
    color: royalblue;
}

#dropdown{
    position: relative;
    display: inline-block;
    background: white;
}

#dropdown-content{
    display: none;
    position: absolute;
    left: -20px;
    right: 0px;
    width: 200px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdown-content a {
    color: black;
    padding-left: 13%;
    padding-top: 10px;
    text-align: start;
    text-decoration: none;
    display: block;
  }

  #dropdown:hover #dropdown-content{
      display: block;
  }

#getstarted{
    border: 3px solid royalblue;
    border-radius: 25px;
    padding: 5px;
}

#getstarted a{
    padding: 20px;
}

#hero{
    display: flex;
    margin: 10%;
}

#text h1{
    font-size: 32px;
    width: 90%;
}

#text ul{
    list-style-type: none;
}

#text ul li{
    line-height: 25px;
    text-decoration: none;
}

#buttons{
    margin-left: 5%;
}
#butt1{
    border-radius: 25px;
    width: 120px;
    height: 35px;
    text-decoration: none;
    background-color: blue;
    color: white;
    border:0;
    padding-left: 10px;
    padding-right: 10px;
}

#butt2{
    border-radius: 25px;
    width: 140px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    background-color: white;
    border: 2px solid royalblue;
    color: royalblue;

}

#fotter{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
}

#icons{
    margin-top: 25px;
}

#icons i{
    padding: 10px;
    background-color: silver;
    border-radius: 100%;
}

#go-back{
    position: absolute;
    right: 10px;
    bottom: -40px;
}

#go-back i{
    background-color: blue;
    width: 30px;
    height: 30px;
    padding-left: 16px;
    padding-top: 16px;
    border-radius: 100%;
    color: white;
}
